{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:react/recommended",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "react",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "error", 
      {
        "singleQuote": true,
        "semi": false,
        "trailingComma": "all",
        "bracketSpacing": true,
        "jsxBracketSameLine": true,
      }
    ],
    "semi": [2, "never"],
    // "no-mixed-operators": 0,
    // "no-plusplus": ["error", {
    //   "allowForLoopAfterthoughts": true
    // }],
    // "no-unused-expressions": [1, {
    //   "allowShortCircuit": true
    // }],
    // "quotes": 0,
    // "arrow-parens": 0,
    // "arrow-body-style": 0,
    // "no-use-before-define": 1,
    // "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    // "react/prefer-stateless-function": 0,
    // "react/require-default-props": 0,
    // "react/prop-types": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    // "import/no-unresolved": [2, {
    //   "commonjs": true,
    //   "amd": true,
    // }],
    // "import/no-extraneous-dependencies": 0,
    "max-statements": [2, 50],
    "max-depth": [2, 5],
    "max-nested-callbacks": [2, 3],
    "max-params": [2, 5],
    "complexity": [2, 10],
  },
  "env": {
    "browser": true,
    "node": true
  }
}
